# Generated website directory
_site/

# Sass cache
.sass-cache/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata

# Notes graph metadata
_includes/notes_graph.json

# Obsidian config
.obsidian/

# Sublime Text
*.sublime-workspace

# JetBrains
/.idea/*
!/.idea/.gitignore
!/.idea/codeStyles
!/.idea/inspectionProfiles
!/.idea/runConfigurations
!/.idea/vcs.xml

# Ugh.
Thumbs.db
.DS_Store
