<style>
  .links line {
    stroke: #207a85cc;
  }

  .nodes circle {
    cursor: pointer;
    fill: #3dd4e6;
    transition: all 0.15s ease-out;
  }

  .text text {
    cursor: pointer;
    fill: #ccc;
    text-shadow: -1px -1px 0 #040910bb, 1px -1px 0 #040910bb, -1px 1px 0 #040910bb, 1px 1px 0 #040910bb;
  }

  .nodes [active],
  .text [active] {
    cursor: pointer;
    fill: white;
  }

  .inactive {
    opacity: 0.2;
    transition: all 0.15s ease-out;
  }

  #graph-wrapper {
    background: #0c2a2e80;
    height: auto;
  }

  #graph-wrapper > svg {
    max-width: 100%;
    display: block; /* removes an annoying margin */
  }
</style>

<div id="graph-wrapper">
  <script>
    const graphData = {% include notes_graph.json %}
  </script>
  <script src="/assets/notes_graph.js"></script>
</div>
