<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <nav>{% include nav.html %}</nav>
    <div class="wrapper" {% if page.id == "home" %} style="max-width: 46em" {% endif %}>
      <main>{{ content }}</main>
      <footer>{% include footer.html %}</footer>
    </div>

    {% include link-previews.html wrapperQuerySelector="content" %}
    <script>
      // Infuriating... https://github.com/rouge-ruby/rouge/issues/1934
      const kw = ['case','catch','delete','else','for','if','in','return','super','switch','throw','typeof','void','while','yield'];
      const handle = () => {
        for (const elem of document.getElementsByClassName('nf'))
          if (kw.includes(elem.textContent.trim()))
            elem.className = 'k';
      }
      handle();
      // ...WHY?!
      setTimeout(handle, 50);
    </script>
  </body>
</html>
